*.txt

Excel/Portfolio_Optimization/Descript.txt 
Excel/MIS/Descript.txt

Python/Portfolio_Optimization/Descript.txt
Python/FinancialBudgetAnalysis/Descript.txt
Python/CreditRiskAnalysis/Descript.txt
Python/LoanApprovalModel/Descript.txt
Python/SalesAnalysis/Descript.txt
Python/DiwaliSalesAnalysis/Descript.txt
Python/ForecastingEconomicData/Descript.txt