Excel/MIS/Descript.txt 
Excel/Portfolio Optimization/Descript.txt 
Python/FinancialBudgetAnalysis/Descript.txt 
Python/CreditRiskAnalysis/Descript.txt 
Python/LoanApprovalModel/Descript.txt 
Python/SalesAnalysis/Descript.txt 
Python/Portfolio Optimization/Descript.txt 
Python/Machine Learning/Descript.txt 